:root {
  --primary: #e45d30;
  --primary-alpha: #f8a68a;
  --white: #ffffff;
  --black: #121214;
  --blue: #4a90e2;
  --green: #43c28c;
  --pink: #d55b9c;
  --background: #1a1a1a;
  --dark-background: #141414;
  --border-color: rgba(255, 255, 255, 0.1);
}
