.header {
  display: flex;
  flex-direction: column;
  background-color: var(--background);
}

.menuWrapper {
  border-bottom: 1px solid var(--border-color);
}

.menu {
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
  padding-bottom: 2rem;
  align-items: center;
}

.logoSection {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.fullName {
  font-size: 1.5rem;
  color: var(--primary);
  letter-spacing: 2px;
}
