.about {
  background-color: var(--background);
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  row-gap: 4.625rem;
  column-gap: 4.5rem;
}

.education::before {
  content: "🎓";
}

.work::before {
  content: "💼";
}

@media (max-width: 992px) {
  .container {
    display: flex;
    flex-direction: column;
    row-gap: 0;
    column-gap: 1rem;
  }
}
