name: CI Deployment
on:
  push:
    branches:
      - 'main'

jobs:

  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.REGISTRY_USERNAME }}
        password: ${{ secrets.REGISTRY_PASSWORD }}


    - name: Decode production env file
      if: github.ref == 'refs/heads/main'
      run: |
          echo ${{ secrets.ENV_PRODUCTION }} | base64 -d > .env
 
    - name: Production Deploy
      if: github.ref == 'refs/heads/main'
      run: |
        docker build -t artiom1401/artiom1401:portfolio-main .
        docker push artiom1401/artiom1401:portfolio-main
 
 
